<head>
  <meta charset="utf-8" />
  <title>{{ title | default: 'J. Edward Hunter' }}</title>
  <link rel="stylesheet" href="/assets/css/output.css">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta name="description" content="{{ description | default: 'J. Edward Hunter is the author of Leaving Arizona, a gritty collection of stories set in the Sonoran Desert that focus on the desperate, the forgotten, and the abused.' }}" />
  <meta property="og:title" content="{{ title | default: 'J. Edward Hunter' }}" />
  <meta property="og:site_name" content="{{ siteName | default: 'J. Edward Hunter' }}" />
  <meta name="og:description" content="{{ description | default: 'J. Edward Hunter is the author of Leaving Arizona, a gritty collection of stories set in the Sonoran Desert that focus on the desperate, the forgotten, and the abused.' }}" />
  <meta
    property="og:image"
    content="{{ image | default: 'https://justin.mypinata.cloud/ipfs/bafybeid4hhli3blldertdxu6po6gu7puzbh2p7jt3uemk4ffceuf2wmzpq' }}"
  />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="{{ siteName | default: 'J. Edward Hunter' }}" />
  <meta name="twitter:title" content="{{ title | default: 'J. Edward Hunter' }}" />
  <meta name="twitter:description" content="{{ description | default: 'J. Edward Hunter is the author of Leaving Arizona, a gritty collection of stories set in the Sonoran Desert that focus on the desperate, the forgotten, and the abused.' }}" />
  <meta
    name="twitter:image"
    content="{{ image | default: 'https://justin.mypinata.cloud/ipfs/bafybeid4hhli3blldertdxu6po6gu7puzbh2p7jt3uemk4ffceuf2wmzpq' }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/images/leaving_arizona_thumb.webp"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/images/leaving_arizona_thumb.webp"
  />  
</head>
